<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PublicityMapper">
    <resultMap id="PublicityResult" type="entity.Publicity">
        <id property="tNo" column="TNo" />
        <id property="examNo" column="ExamNo" />
        <id property="disciplineNum" column="DisciplineNum" />
        <id property="secondaryNum" column="SecondaryNum" />
    </resultMap>

    <select id="selectAll" resultMap="PublicityResult">
        SELECT * FROM Publicity
    </select>

    <select id="selectByTNo" resultMap="PublicityResult">
        SELECT * FROM Publicity WHERE TNo = #{tNo}
    </select>
    
    <insert id="insertPublicityRecord">
        INSERT INTO Publicity (TNo, ExamNo, DisciplineNum, SecondaryNum) VALUES (#{tNo}, #{examNo}, #{disciplineNum}, #{secondaryNum})
    </insert>
</mapper>