<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.CatalogMapper">
	<resultMap id="CatalogResult" type="entity.Catalog">
        <id property="TNo" column="TNo" />
        <result property="DisciplineNum" column="DisciplineNum" />
        <result property="SecondaryNum" column="SecondaryNum" />
        <result property="TIdentity" column="TIdentity" />
        <result property="CYear" column="CYear" />
        <result property="IsQualification" column="IsQualification" />
    </resultMap>
	<insert id="insert" parameterType="entity.Catalog">
        INSERT INTO Catalog (TNo, DisciplineNum, SecondaryNum, TIdentity, CYear, IsQualification)
        VALUES (#{TNo}, #{DisciplineNum}, #{SecondaryNum}, #{TIdentity}, #{CYear}, #{IsQualification})
    </insert>

    <update id="update" parameterType="entity.Catalog">
        UPDATE Catalog
        SET TIdentity = #{TIdentity}, CYear = #{CYear}, IsQualification = #{IsQualification}
        WHERE TNo = #{TNo} AND DisciplineNum = #{DisciplineNum} AND SecondaryNum = #{SecondaryNum}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM Catalog WHERE TNo = #{TNo} AND DisciplineNum = #{DisciplineNum} AND SecondaryNum = #{SecondaryNum}
    </delete>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="CatalogResult">
        SELECT * FROM Catalog WHERE TNo = #{TNo} AND DisciplineNum = #{DisciplineNum} AND SecondaryNum = #{SecondaryNum}
    </select>

    <select id="selectAll" resultMap="CatalogResult">
        SELECT * FROM Catalog
    </select>
	
    <select id="checkQualification" resultType="string">
        SELECT IsQualification FROM Catalog WHERE TNo = #{TNo} AND DisciplineNum = #{DisciplineNum} AND SecondaryNum = #{SecondaryNum}
    </select>
</mapper>