<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.FirDisciplineMapper">
    <resultMap id="FirDisciplineResult" type="entity.FirDiscipline">
        <id property="disciplineNum" column="DisciplineNum" />
        <result property="disType" column="DisType" />
        <result property="firOverview" column="FirOverview" />
        <result property="firDisName" column="FirDisName" />
        <result property="supplyIndicator" column="SupplyIndicator" />
        <result property="allIndicator" column="AllIndicator" />
        <result property="note" column="Note" />
    </resultMap>

    <insert id="insert" parameterType="entity.FirDiscipline">
        INSERT INTO FirDiscipline (DisciplineNum, DisType, FirOverview, FirDisName, SupplyIndicator, AllIndicator, Note)
        VALUES (#{disciplineNum}, #{disType}, #{firOverview}, #{firDisName}, #{supplyIndicator}, #{allIndicator}, #{note})
    </insert>

    <update id="update" parameterType="entity.FirDiscipline">
        UPDATE FirDiscipline
        SET DisType=#{disType}, FirOverview=#{firOverview}, FirDisName=#{firDisName}, SupplyIndicator=#{supplyIndicator}, AllIndicator=#{allIndicator}, Note=#{note}
        WHERE DisciplineNum=#{disciplineNum}
    </update>

    <select id="selectByDisciplineNum" resultMap="FirDisciplineResult">
        SELECT * FROM FirDiscipline WHERE DisciplineNum = #{disciplineNum}
    </select>

    <delete id="delete">
        DELETE FROM FirDiscipline WHERE DisciplineNum = #{disciplineNum}
    </delete>
</mapper>