<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.LoginMapper">
    <resultMap id="LoginResult" type="entity.Login">
        <id property="loginId" column="LoginID" />
        <result property="password" column="Password" />
    </resultMap>

    <select id="findLoginByLoginIdAndPassword" resultMap="LoginResult">
        SELECT * FROM Login WHERE LoginID = #{loginId} AND Password = #{password}
    </select>
</mapper>