<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers. SecStudentMapper">
    <resultMap id="SecStudentResult" type="entity.SecStudent">
        <id property="examNo" column="ExamNo" />
        <result property="secSN" column="SecSN" />
        <result property="sex" column="Sex" />
        <result property="sNumber" column="SNumber" />
        <result property="emergenNumber" column="EmergenNumber" />
        <result property="sCategory" column="SCategory" />
        <result property="undergraSchool" column="UndergraSchool" />
        <result property="undergraTime" column="UndergraTime" />
    </resultMap>

    <insert id="insert" parameterType="entity.SecStudent">
        INSERT INTO SecStudent(ExamNo, SecSN, Sex, SNumber, EmergenNumber, SCategory, UndergraSchool, UndergraTime)
        VALUES (#{examNo}, #{secSN}, #{sex}, #{sNumber}, #{emergenNumber}, #{sCategory}, #{undergraSchool}, #{undergraTime})
    </insert>

    <update id="update" parameterType="entity.SecStudent">
        UPDATE SecStudent
        SET SecSN=#{secSN}, Sex=#{sex}, SNumber=#{sNumber}, EmergenNumber=#{emergenNumber}, SCategory=#{sCategory}, UndergraSchool=#{undergraSchool}, UndergraTime=#{undergraTime}
        WHERE ExamNo=#{examNo}
    </update>

    <select id="selectByExamNo" resultMap="SecStudentResult">
        SELECT * FROM SecStudent WHERE ExamNo = #{examNo}
    </select>

    <delete id="delete">
        DELETE FROM SecStudent WHERE ExamNo = #{examNo}
    </delete>
</mapper>