<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.SecTInfMapper">
    <resultMap id="SecTInfResult" type="entity.SecTInf">
        <id property="examNo" column="ExamNo" />
        <result property="secScore" column="SecScore" />
        <result property="secTime" column="SecTime" />
        <result property="secPlace" column="SecPlace" />
        <result property="profTest" column="ProfTest" />
        <result property="interview" column="Interview" />
        <result property="overallScore" column="OverallScore" />
        <result property="languageScore" column="LanguageScore" />
    </resultMap>

    <insert id="insert" parameterType="entity.SecTInf">
        INSERT INTO SecTInf(ExamNo, SecScore, SecTime, SecPlace, ProfTest, Interview, OverallScore, LanguageScore)
        VALUES (#{examNo}, #{secScore}, #{secTime}, #{secPlace}, #{profTest}, #{interview}, #{overallScore}, #{languageScore})
    </insert>

    <update id="update" parameterType="entity.SecTInf">
        UPDATE SecTInf
        SET SecScore=#{secScore}, SecTime=#{secTime}, SecPlace=#{secPlace}, ProfTest=#{profTest}, Interview=#{interview}, OverallScore=#{overallScore}, LanguageScore=#{languageScore}
        WHERE ExamNo=#{examNo}
    </update>

    <select id="selectByExamNo" resultMap="SecTInfResult">
        SELECT * FROM SecTInf WHERE ExamNo = #{examNo}
    </select>

    <delete id="delete">
        DELETE FROM SecTInf WHERE ExamNo = #{examNo}
    </delete>
</mapper>
