<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.StudentSelectedMapper">
    <resultMap id="StudentSelectedResult" type="entity.StudentSelected">
        <id property="examNo" column="ExamNo" />
        <result property="selected" column="Selected" />
    </resultMap>
	<update id="update" parameterType="String">
		UPDATE StudentSelected
		SET Selected=1
		WHERE ExamNo=#{examNo}
	</update>
	
	    <select id="findStudentSelectedByExamNo" resultMap="StudentSelectedResult">
        SELECT * FROM StudentSelected WHERE ExamNo = #{examNo}
    </select>

    <!-- 添加查询所有 selected 属性为0的准考证号的SQL语句 -->
    <select id="findUnselectedStudents" resultMap="StudentSelectedResult">
        SELECT * FROM StudentSelected WHERE Selected = 0
    </select>
    
    <update id="updateStudentSelection">
        UPDATE StudentSelected SET Selected = 1 WHERE ExamNo = #{examNo}
    </update>

</mapper>

