<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.TeacherMapper">

    <resultMap id="TeacherResult" type="entity.Teacher">
        <id property="tNo" column="TNo" />
        <result property="tN" column="TN" />
        <result property="title" column="Title" />
        <result property="tImage" column="TImage" jdbcType="LONGVARBINARY" />
        <result property="tEmail" column="TEmail" />
        <result property="tNumber" column="TNumber" />
        <result property="tINTRO" column="TINTRO" />
    </resultMap>

    <insert id="insert" parameterType="entity.Teacher">
        INSERT INTO T (TNo, TN, Title, TImage, TEmail, TNumber,TINTRO)
        VALUES (#{tNo}, #{tN}, #{title}, #{tImage,jdbcType=LONGVARBINARY}, #{tEmail}, #{tNumber},#{tINTRO})
    </insert>

    <update id="update" parameterType="entity.Teacher">
        UPDATE T
        SET TN = #{tN}, Title = #{title}, TImage = #{tImage,jdbcType=LONGVARBINARY}, TEmail = #{tEmail}, TNumber = #{tNumber},TINTRO=#{tINTRO}
        WHERE TNo = #{tNo}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM T WHERE TNo = #{tNo}
    </delete>

    <select id="selectByPrimaryKey" parameterType="String" resultMap="TeacherResult">
        SELECT * FROM T WHERE TNo = #{tNo}
    </select>

    <select id="selectAll" resultMap="TeacherResult">
        SELECT * FROM T
    </select>
</mapper>